section {
  top: 0;
  height: 70vh;
  width: 100%;
  background-color: black;
}
.coverImage {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  outline: 2px solid red;
}
.coverImage img {
  height: 0vh;
  width: 70%;
  object-fit: cover;
}
