* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #181818;

  color: white;
  position: relative;
  text-shadow: 2px 2px 2px black;
}

img {
  height: 3rem;
}
header a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
header a:hover {
  text-shadow: 1px 1px 1px rgb(105, 103, 103);
  color: red;
}

/* header {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  padding: 0.8rem 2rem;
  padding-right: 3.5rem;
  z-index: 1;
  backdrop-filter: blur(3px);
} */

.navRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: white;
}
.navLeft {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navLeft input {
  border-radius: 0.2rem;
  width: 11rem;
  padding: 0.5rem;
  font-size: 1rem;
  background: transparent;
  color: white;
  outline: none;
  border: none;
  box-shadow: 0 0 1px 1px rgba(155, 152, 152, 0.8);
}
.navLeft button {
  color: rgba(147, 145, 145, 0.8);
  cursor: pointer;
  background: transparent;
  border: none;
}

.main {
  padding-top: 5rem;
  background-color: #181818;
}
main {
  padding-top: -2rem;
  /* background-color: #181818; */
}
.cardContainerNext {
  display: flex;
  width: 100%;
  overflow: scroll;
  background-color: #181818;
  padding: 0 4rem;
}
.cardContainerNext::-webkit-scrollbar {
  display: none;
}

.cardNext {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
ul {
  list-style: none;
}
.cardNext li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-shadow: 2px 2px 2px black;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  max-width: 7rem;
}
li img {
  height: 12rem;
  transition: transform 0.2s ease-in-out;
}
li span {
  text-align: center;
  transition: transform 0.2s ease-in-out;
}
.cardNext li:hover {
  text-decoration: none;
  transform: scale(1.1);
}
li img:hover + span {
  transform: scale(1.1);
}
li img:hover {
  transform: scale(1.1);
  text-decoration: none;
}
.head main {
  position: relative;
  outline: 3px solid red;
  margin-top: 3rem;
}
.head h2 {
  margin-top: 4.5rem;
}

.cardNext {
  margin-top: -10rem;
}

.slider::before {
  height: 50px;
  width: 30px;
  background-color: rgba(138, 172, 174, 0.5);
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translateY(250%);
  background-image: url(../images/arrow-back.svg);

  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

main:hover .slider::before {
  opacity: 1;
  cursor: pointer;
  filter: brightness(0.5);
}

.sliderBack::after {
  height: 50px;
  width: 30px;
  background-color: rgba(138, 172, 174, 0.5);
  z-index: 1;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  transform: translateY(250%) rotate(180deg);
  background-image: url(../images/arrow-back.svg);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
main:hover .sliderBack::after {
  opacity: 1;
  cursor: pointer;
}

.main .slider::before {
  height: 50px;
  width: 30px;
  background-color: rgba(138, 172, 174, 0.5);
  z-index: 1;
  position: absolute;
  content: "";
  top: 6rem;
  left: 0;
  transform: translateY(250%);
  background-image: url(../images/arrow-back.svg);

  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.main:hover .slider::before {
  opacity: 1;
  cursor: pointer;
  filter: brightness(0.8);
}

.main .sliderBack::after {
  height: 50px;
  width: 30px;
  background-color: rgba(138, 172, 174, 0.5);
  z-index: 1;
  position: absolute;
  content: "";
  top: 6rem;
  right: 0;
  transform: translateY(250%) rotate(180deg);
  background-image: url(../images/arrow-back.svg);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}
.main:hover .sliderBack::after {
  opacity: 1;
  cursor: pointer;
}
.empty {
  height: 12rem;
}
